ul
  list-style: none
.user-modal__container
  .user-modal__close
    cursor: pointer
    text-align: right
    margin-bottom: 10px
.header__user-modal
  position: absolute
  z-index: 1000000
  top: 0
  right: 0
  padding-top: 10px
.user-modal
  width: 350px
  border-radius: 5px
  background: #292929
  color: rgba(229, 229, 229, 0.7)

.user-modal__container
  width: 90%
  margin: 0 auto

.user-modal__header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px

.user-modal__title
  font-size: 26px
.user-modal__mail
  color: #646464

.line
  padding-top: 20px
  margin-bottom: 20px
  width: 100%
  border-bottom: 1px solid #646464


.user-modal__refs, .user-modal__settings
  li
    padding: 10px 0
  a
    font-weight: 300

.user-modal__add
  display: flex
  align-items: center
  padding-bottom: 20px
  button
    margin-right: 20px
    background: none
    border: 1px solid rgba(229, 229, 229, 0.7)
    border-radius: 50%
    padding: 10px 15px
    color: rgba(229, 229, 229, 0.7)
  p
    font-weight: 300

@media screen and (max-width: 800px)
  .user-modal
    width: 100%
    min-height: 100vh
  .user-modal__add
    position: absolute
    bottom: 1px
  .line_low
    position: absolute
    bottom: 60px
    left: 0