
.header__modal
  position: absolute
  top: 45px
  padding: 20px 10px
  background: #fff
  width: 100%
  max-width: 400px
  border-radius: 5px

.modal__title
  font-size: 18px
  color: #6C6C6C
  h4
    font-weight: 400